@layer reset, base, layout, components, mobile-override;

@layer reset {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}

@layer base {

    @view-transition {
        navigation: auto;
    }
    @font-face {
        font-family: "Clash Display"; 
        src: url(media/fonts/ClashDisplay-Variable.woff2) format("woff2-variations"); 
        font-display: swap;
    }
    @font-face {
        font-family: "Satoshi"; 
        src: url(media/fonts/Satoshi-Variable.woff2) format("woff2-variations"); 
        font-display: swap;
    }

    :root {
        --background-color: #f9f6ff;
        --background-highlight: #000000;
        --text-color: #7b7bc3;
        --text-color-hover: #6868be;
        --text-color-active: #5656be;
        --heading-text-color: #4848a2;
        --border-settings: 2px solid #7b7bc3;
        --border-radius: 0.5rem;
    }

    :root:has(input[data-theme="dark"]:checked) {
        --background-color: #0B1215;
        --background-highlight: #FFFFFF;
        --text-color: #5A86AD;
        --text-color-hover: #7AAFFF;
        --text-color-active: #9CCBFF;
        --heading-text-color: #C3DDF6;
        --border-settings: 2px solid #5A86AD;
    }

    body {
        font-family:'Satoshi', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100dvh;
        background-color: var(--background-color);
        color: var(--heading-text-color);
    }

    h1,h2,h3,h4,h5,h6 {
        font-family: 'Clash Display', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        line-height: 1.15;
    }

    h1 {
        font-size: 3rem;
        margin: 1rem 0 0.5rem;
    }
    h2 {
        font-size: 2rem;
        margin: 1rem 0;
    }
    h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    picture img {
        border: var(--border-settings);
        border-radius: var(--border-radius);
    }
    svg path {
        fill: var(--heading-text-color);
    }
    button {
        border-radius: var(--border-radius);
        cursor: pointer;
        border: var(--border-settings);
        background-color: var(--text-color-hover);
        color: var(--background-color);
        padding: 0.5rem;
    }
}

@layer layout {
    header {
        background-color: var(--background-color);
        border-bottom: var(--border-settings);
        width: 100%;
        margin-bottom: 1rem;
        #burger-menu {
            display: none;
        }
        .logo {
            font-family: "Clash Display", Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 600;
            font-size: 1.5rem;
            text-decoration: none;
            color: var(--text-color);
        }
        nav {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            align-items: center;
            padding: 1rem 2rem;
            ul {
                list-style: none;
                position: static;
                display: flex;
                gap: 2rem;
                width: 100%;
                border: none;
                background-color: var(--background-color);
                a {
                    text-decoration: none;
                    color: var(--heading-text-color);
                    font-weight: 500;
                    font-family: "Clash Display";
                }
                a:hover {
                    color: var(--text-color-hover);
                }
            }
        }
        button {
            background: none;
            cursor: pointer;
            border: none;
            text-align: right;
            svg path {
                stroke: var(--text-color);
                fill: none;
            }
        }
    }

    main {
        padding: 0rem 1rem;
        width: 100%;
        max-width: 1200px;
        display:flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: fit-content;
            width: inherit;
        }
        .project-grid {
            display: flex;
            justify-content: center;
            align-items: start;
            margin-top: 1rem;
            .upcoming-project svg {
                object-fit: cover;
                width: 100px;
                height: 100px;
                padding: 1rem;
                margin-bottom: 0.5rem;
            }
            project-card {
                width: 100%;
                height: fit-content;
                padding: 1rem 1rem 0.5rem;
                display:flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                picture img, svg {
                    object-fit: cover;
                    width: 100%;
                    max-width: 400px;
                    aspect-ratio: 4/3;
                    border: var(--border-settings);
                    border-radius: var(--border-radius);
                }
                a {
                    background-color: var(--text-color);
                    text-decoration: none;
                    color: var(--background-color);
                    margin-top: 1rem;
                    padding: 0.5rem;
                    border-radius: var(--border-radius);
                    &:hover{
                        background-color: var(--text-color-hover);
                    }
                    &:active {
                        background-color: var(--text-color-active);
                    }
                }

            }
        }
        #social-links {
            display: flex;
            flex-direction: row;;
            gap: 2rem;
            align-items: center;
            border: var(--border-settings);
            border-radius: var(--border-radius);
            section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        .page-section {
            text-align: center;
            display: flex;
            flex-direction: column;
            border: var(--border-settings);
            border-radius: var(--border-radius);
            width: 100%;
            max-width: 600px;            
            padding: 2rem;
            margin: 1rem;
            gap: 0.5rem;
            input,textarea {
                padding: 0.3rem;
                border-radius: var(--border-radius);
                border: var(--border-settings);
            }
            fieldset {
                border: none;
            }
            ul,p,label,fieldset,summary {
                text-align: left;
                align-self: start;
                list-style-position: inside;
            }
            details,summary {
                align-self: start;
                text-align: left;
                list-style-position: inside;
                p {
                    padding: 1rem 0rem;
                    font-style: italic;
                }
            }
            img {
                width: 60%;
                aspect-ratio: 1/1;
                object-fit: cover;
                height: auto;
            }
        }

        /* For project pages */
        article {
            max-width: 1000px;
            text-align: left;
            margin: auto;
            h1 {
                text-align: center;
                margin-bottom: 2rem;
            }
            figure {
                text-align: center;
                margin-bottom: 1rem;
            }
            figcaption {
                margin: auto;
                margin-top: 0.5rem;
                font-style: italic;
                width: 80%;
            }
            picture img {
                width: 80%;
                height: auto;
                display: block;
                margin: 0rem auto 1rem;
                border: 1px solid black;
            }
            section {
                width: 80%;
                align-items: start;
                margin: auto;
                h2,h3,p,figcaption,iframe {
                    margin: 0rem 0rem 1rem;
                }
                iframe {
                    width: 100%;
                    border: 1px solid black;
                }
            }
            ul {
                list-style-position: inside;
                margin-bottom: 1rem;
                align-self: start;
            }
        }
    }

    footer {
        background-color: var(--background-color);
        border-top: var(--border-settings);
        border-radius: var(--border-radius);
        width: 100%;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        padding: 1rem 1.5rem;
        p {
            font-family: "Clash Display", Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 400;
        }
    }
}

@layer components {
    dialog {
        margin: auto;
        text-align: center;
        padding: 1rem 2rem;
        color: var(--heading-text-color);
        background-color: var(--background-color);
        border: var(--border-settings);
        border-radius: var(--border-radius);

        header {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
            border: none;
        }
        form {   
            display: block;
            flex-direction: column;
            gap: 1rem;
        }
        footer {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            border: none;
            margin-top: 1rem;
            padding: 0rem 0rem 1rem;
        }
    }
}

@layer mobile-override {
    @media only screen and (max-width: 600px) {
        .project-grid, #social-links {
            flex-direction: column;
        }
        section {
            width: 100%;
        }
        header {
            #burger-menu {
                display: inline-block;
                text-align:left;
                color: var(--text-color);
                font-weight: 500;
                font-family: "Clash Display";
                font-size: 1rem;
            }
            nav {
                grid-template-columns: 1fr 1fr;
                ul[popover] {
                    flex-direction: column;
                    gap: 1rem;
                    display: none;

                    transition: opacity 0.25s ease, transform 0.25s ease;
                    opacity: 0;
                    transform: translateY(-10px);
                }
                ul[popover]:popover-open {
                    display: flex;
                    padding: 2rem;
                    border-bottom: var(--border-settings);

                    /* Animate popover opening */
                    opacity: 1;
                    transform: translateY(0);
                    @starting-style {
                        opacity: 0;
                        transform: translateY(-10px);
                    }
                }
            }
            .logo {
                display: none;
            }
        }
    }
}